$text-main-color: #262A3F;
$text-red: #f1897b;
$text-green: #85bbb1;
$text-green-neon: #53f3cd;
$text-blue: #689ff2;
$text-white: #fff;
$text-gray-light: #bbbcc1;
$text-red-dark: #e54f3a;
$text-green-neon-dark: #02e0ab;
$colors-blue-deep: #161926;
$colors-gray-dark: #515773;

$padding-down-20: 20px;
$padding-down-30: 30px;
$padding-down-50: 50px;
$margin-blocks: 120px;
