@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import "mixins";
@import "variables";


* {
    box-sizing: border-box;
    // border: 1px solid black;
}

body {
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow-x: hidden;

    @include text-fonts (Lato, 300, 18px, 144%, 0.08em, $text-main-color);

}


// ============================== HEADER ===============================
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 24px 0;

    @include _1200 {
        padding: 24px 10px;
    }
}

.header {
    width: 100%;
    height: 80px;
    margin-top: 30px;
    margin-bottom: $margin-blocks;
    background-color: rgba(228, 227, 227, 0.4);
    backdrop-filter: blur(5px);

    &__wrapper {
        max-width: 1170px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        padding: 24px 0;
        align-items: center;

        @include _1200 {
            padding: 24px 10px;
        }
    }

}

.nav {
    margin-left: auto;

    &__toggle {
        display: block;
        position: relative;
        z-index: 1;
    }

    &__checkbox {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -9px;
        right: -7px;
        cursor: pointer;
        z-index: 2;
        opacity: 0;

        &:checked~span {
            opacity: 1;
            transform: rotate(45deg);
        }

        &:checked~span:nth-last-child(2) {
            transform: rotate(-45deg)
        }

        &:checked~span:nth-last-child(3) {
            opacity: 0;
        }

        &:checked~.nav__menu {
            transform: none;
        }
    }

    & span {
        display: none;
        width: 33px;
        height: 3px;
        background-color: $text-gray-light;
        margin-bottom: 5px;

        transform-origin: 5px;
        transition: transform .5s;

        @include _768 {
            display: block;
        }
    }

    &__menu {
        display: flex;
        gap: 30px;

        @include _768 {
            position: absolute;
            width: 300px;
            height: 330px;
            margin: 28px 0 0 -257px;

            background-color: rgba(228, 227, 227, .4);

            flex-direction: column;
            align-items: center;

            transform: translate(-300%);
            transition: transform .5s;
        }
    }

    &__item {
        position: relative;

        &:hover:before {
            transform: scaleX(1);
            transition: transform .25s;
        }

        &:before {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $text-red;
            opacity: .5;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: left;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;

        @include text-fonts (Lato, 400, 14px, 171%, 0.08em, $text-main-color);
    }
}

// =========================== 1-st Section ============================
h1 {
    margin: 0;
}

.italic-green {
    font-style: italic;
    color: $text-green;
}

.section-1 {
    max-width: 523px;
    max-height: 302px;
    margin-bottom: 250px;

    &__title {
        padding-bottom: $padding-down-20;

        @include text-fonts ('Playfair Display', 400, 44px, 150%, .08em, $text-main-color);

        @include _1200 {
            font-size: 5vw;
        }
    }

    &__text {
        padding-bottom: $padding-down-50;
    }


}

.button {
    width: 122px;
    height: 24px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    position: relative;

    display: flex;
    justify-content: start;
    align-items: center;

    @include text-fonts (Lato, 700, 20px, 100%, .08ex, $text-red);

    &:before {
        content: "";
        width: 87%;
        height: 50%;
        background-color: $text-red;
        opacity: .5;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &:active {
        color: $text-red-dark;
    }
}


// ========================= 2-nd Section ==============================
.section-2 {
    margin-bottom: $margin-blocks;

    @include _992 {
        margin-bottom: 660px;
    }
}

.foto-wrap {
    position: relative;

    &__info-wrap {
        position: absolute;
        background-color: rgba(249, 248, 248, 0.9);
        top: 50px;
        left: 431px;
        width: 770px;
        height: 580px;
        display: flex;
        align-items: center;
        padding: 45px 0;

        @include _1200 {
            left: 181px;
        }

        @include _992 {
            left: 40px;
            top: 300px;
            width: 700px;
        }

        @include _768 {
            width: 80vw;
            flex-direction: column;
            gap: 20px;
            height: 780px;
            padding: 10px 0;

        }
    }
}

.foto {

    @include _992 {
        margin: 0 auto;
    }

    @include _768 {
        width: 70%;
        height: 70%;
    }
}

.info-wrap {
    &__left-block {
        width: 40vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include _768 {
            gap: 15px;
        }
    }

    &__right-block {
        width: 400px;
        height: 100%;

        @include _768 {
            text-align: center;
            max-width: 90%;
        }
    }
}

.right-block {
    &__text-1 {
        padding-bottom: $padding-down-20;
    }

    &__text-2 {
        padding-bottom: $padding-down-30;
    }
}

.text-wrapper {
    &__title {
        display: flex;
        justify-content: center;
        @include text-fonts ("Playfair Display", 400, 68px, 106%, .08em, $text-main-color);
        position: relative;
        padding-bottom: 12px;

        &::before {
            content: '$';
            position: absolute;
            left: -35px;
            bottom: 0;
            color: #e4e4e4;
        }
    }

    &__text {
        text-align: center;
        position: relative;
    }
}

.text--underlined-1 {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: rgb(192, 191, 191);
        bottom: -50px;
        left: 35px;

        @include _768 {
            bottom: -23px;
            left: 41px;
        }
    }
}

.text--underlined-2 {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: rgb(192, 191, 191);
        bottom: -50px;
        left: 76px;

        @include _768 {
            bottom: -27px;
            left: 48px;
        }
    }
}

.button-longer {
    width: 185px;
    margin: 0 auto;
}

// =========================== SECTION-3 ==============================

.section-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 90px 30px;
    margin-bottom: $margin-blocks;

    @include _992 {
        gap: 30px 10px;
    }

    @include _768 {
        grid-auto-flow: column;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(4, 1fr);
        gap: 0;
        text-align: center;
    }

}

.block {
    position: relative;
    max-width: 95%;

    &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: rgb(192, 191, 191);

        @include _992 {
            width: 80%;
        }

        @include _768 {
            left: 39px;
        }
    }

    &-wrapper {
        padding: 20px 35px 52px 35px;

        @include _1200 {
            padding: 35px 15px;
        }
    }

    &__title {
        padding-bottom: $padding-down-30;
        @include text-fonts ('Playfair Display', 400, 44px, 120%, .08em, $text-main-color);
    }
}

// =========================== SECTION-4 =============================
.section-4 {
    background-image: url(../assets/background.png);
    background-size: cover;
    max-width: 100vw;
    height: 400px;
    margin-bottom: $margin-blocks;

    @include _576 {
        height: 50vw;
    }

    &__text-1 {
        @include text-fonts (Lato, 300, 28px, 144%, .04em, $text-white);
        width: 750px;
        padding: 100px 0 40px 160px;
        position: relative;

        &::before {
            content: url(../assets/quote-icon.svg);
            position: absolute;
            top: 64px;
            left: 100px;

            @include _768 {
                width: 400px;
                left: 18px;
                top: 23px;
            }
        }

        @include _992 {
            width: 90vw;
            font-size: 2.8vw;
            padding-bottom: 70px;
        }

        @include _768 {
            padding: 70px 40px 40px 80px;
        }
    }

    &__text-2 {
        @include text-fonts (Lato, 300, 20px, 144%, .04em, $text-gray-light);
        font-style: italic;
        padding: 0 0 0 160px;

        @include _992 {
            font-size: 2.8vw;
            padding-left: 80px;
        }
    }
}

// ========================== SECTION-5 =============================
.section-5 {
    margin: 0 auto;
    position: relative;
    margin-bottom: $margin-blocks;
}

.frame {
    margin-bottom: $margin-blocks;
    width: 100%;


    &__video {
        position: absolute;
        top: 7%;
        left: 43px;
        width: 90%;
        border: 1px solid $text-gray-light;
        object-fit: cover;
    }

    &__button {
        position: absolute;
        top: 198px;
        right: 45%;
    }
}

// ======================== SECTION-6 ===========================
.section-6 {
    &__wrap {
        position: relative;
        margin-bottom: $margin-blocks;
    }

    @include _768 {
        margin-bottom: 400px;
    }
}

.block-right {
    display: grid;
    width: 770px;
    height: 450px;
    background-color: rgba(249, 248, 248, 0.9);
    position: absolute;
    top: 46px;
    right: 0;

    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 115px);
    gap: 70px 100px;
    align-items: center;
    padding: 75px 0px 75px 70px;

    @include _992 {
        gap: 50px 20px;
        width: 600px;
        grid-template-columns: repeat(2, 250px);
    }

    @include _768 {
        top: 472px;
        padding: 35px 0px 35px 20px;
        width: 550px;
        height: 350px;
    }

    @include _576 {
        width: 270px;
        height: 130%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        left: 25%;
        top: 25%;
    }
}

// =================== SECTION-7 ===============================
.section-7 {
    margin-bottom: $margin-blocks;

    &__text {
        width: 80vw;
        margin-bottom: $padding-down-50;

        @include _1200 {
            text-align: center;
            margin: 0 auto;
            margin-bottom: $padding-down-50;
        }
    }

}

.flex-article-wrap {
    color: $text-white;
    display: flex;
    gap: 30px;

    @include _1200 {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 100px;
    }
}

.flex-article {
    width: 370px;
    height: 420px;
    padding: 30px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-bg-1 {
    background: url(../assets/bg-1.png);
}

.article-bg-2 {
    background: url(../assets/bg-2.png);
}

.article-bg-3 {
    background: url(../assets/bg-3.png);
}

// ======================= SECTION-CONTACTS ==========================
.section-contact {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 160px;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: .5px;
        top: -70px;
        left: 0;
        background-color: $text-gray-light;
    }

    @include _768 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        text-align: center;
    }
}

.left-block {
    width: 470px;
}

.right-block {
    width: 470px;
    height: 32px;
    margin-bottom: $padding-down-30;
    position: relative;

    @include _1200 {
        width: 39vw;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: .5px;
        bottom: 0;
        left: 0;
        background-color: $text-gray-light;
    }

    &__input {
        border: none;
        outline: none;
        cursor: pointer;

        &::placeholder {
            @include text-fonts ('Playfair Display', 400, 18px, 111%, 0.2em, $text-gray-light);
            font-style: italic;
        }
    }
}

.button--start {
    display: inline-block;
    justify-content: start;
}

// ====================== FOOTER =============================

.footer {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include _992 {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__link {
        display: flex;
        gap: 32px;
        text-decoration: none;
    }
}

.link-item a {
    text-decoration: none;
}

.text-bigger {
    font-weight: 400;
}


p {
    @include _576 {
        font-size: 15px;
    }
}

h1,
h2,
.block__title,
.text-wrapper__title {
    @include _1200 {
        font-size: 3.6vw;
    }

    @include _480 {
        font-size: 23px;
    }
}